@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor httpContextAccessor

@{
    ViewData["Title"] = "User Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2 class="text-center text-primary" style="margin-top:15%">Welcome to Marriage Hall Management System.</h2>
    <p class="text-center text-info">Click on View/Modify to Modify the Bookings.</p>

