
@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row" style="margin-top: 15%;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
             <div class="card-header text-center">Please Login With UserId</div>
             <div class="card-body">
            <form method="POST" action="onSubmitLogin">
                <div class="form-group">
                    <input type="text" class="form-control" name="requestId" placeholder="Enter Your RequestId" required>
                </div>
                <center><button type="submit" class="btn btn-outline-primary font-weight-bolder">Login</button></center>
            </form>
            @if (ViewBag.errorMessage != null)
            {
                <p class="text-danger text-center" style="margin-top:auto">@ViewBag.errorMessage</p>
            }
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

