
@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row" style="margin-top: 15%;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h5 class="text-center">Please Login With UserId</h5>
            <form method="POST" action="onSubmitLogin">
                <div class="form-group">
                    <input type="text" class="form-control" name="requestId" placeholder="Enter Your RequestId">
                </div>
                <center><button type="submit" class="btn btn-outline-primary font-weight-bolder">Login</button></center>
            </form>
            @if (ViewBag.errorMessage != null)
            {
                <p class="text-danger text-center" style="margin-top:auto">@ViewBag.errorMessage</p>
            }
        </div>
        <div class="col-md-4"></div>
    </div>

