@model MHMSystem.Models.User
@{
    ViewData["Title"] = "doRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Please Register yourself</h1>
<form method="POST" action="onRegistrationSubmit">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">First Name</label>
            <input type="text" class="form-control" name="firstName" placeholder="First Name" required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Last Name</label>
            <input type="text" class="form-control" name="lastName" placeholder="Last Name" required>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" placeholder="abc@xyz.com" required>
    </div>
    <div class="form-group">
        <label for="Mob">Mobile</label>
        <input type="number" class="form-control" name="mobile" placeholder="XXXXXXXXXX" required>
    </div>

    <center><button type="submit" class="btn btn-outline-primary font-weight-bolder">Register</button></center>
</form>